openapi: "3.0.0"
info:
  version: 1.0.0
  title: Heroes of Umbra API
  license:
    name: MIT
servers:
  - url: http://api.heroesofumbra.com/v1
paths:
  /skills:
    get:
      summary: List all skills
      operationId: listSkills
      tags:
        - skills
      responses:
        '200':
          description: All skills
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/Skills"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /skills/{id}:
    get:
      summary: Info for a specific skill
      operationId: showSkillById
      tags:
        - skills
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the skill to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skill"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /items:
    get:
      summary: List all items
      operationId: listItems
      tags:
        - items
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 1000)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A paged array of items
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/Items"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /items/{id}:
    get:
      summary: Info for a specific item
      operationId: showItemById
      tags:
        - items
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the item to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Item"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    Skill:
      type: object
      required:
        - id
        - name
        - description
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
    Skills:
      type: array
      items:
        $ref: "#/components/schemas/Skill"  
    Item:
      type: object
      required:
        - id
        - name
        - description
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
    Items:
      type: array
      items:
        $ref: "#/components/schemas/Item"
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string